<form style="direction: rtl">
    <div class="form-group">
      <label for="exampleInputEmail1"  style="color: #66CC75;font-weight: bold">אימייל</label>
      <input type="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="הקש אימייל">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"  style="color: #66CC75;font-weight: bold">סיסמה</label>
      <input type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="סיסמה">
    </div>
    <button (click)="login()" style="background-color:#66CC75;border-color:#66CC75" class="btn btn-primary">התחבר</button>
    <br>
    <md-checkbox>Check me!</md-checkbox>
    <br>
    <button (click)="login_with_gmail()" style="background-color:#66CC75;border-color:#66CC75" class="btn btn-primary">כניסה באמצעות Gmail</button>
    <br><br>
  </form>
